@font-face {
    font-family: 'NotoSansTC';
    src: url('../assets/NotoSansTC-VariableFont_wght.ttf') format('truetype');
}

:root {
    --page-max-width: 960px;
    --common-height: 28px;
    --input-height: 40px;
    --border-color: #ccc;
    --indent-space: 1.2rem;
    --btn-bk-color: #04AA6D;
    --btn-hover-bk-color: #06c881;
    --btn-aux-bk-color: cadetblue;
    --disabled-color: rgb(84, 84, 84);
    --disabled-bk-color: rgba(239, 239, 239, 0.3);
    --font-family-en: monospace;
    --text-passed-color: #1a73e8;
    --image-border-color: #eee;
}

body {
    margin: 0 auto;
    font-family: 'NotoSansTC', sans-serif;
    font-size: large;
    /* font-weight: 300; */
    letter-spacing: 1px;
    padding: 0 20px 20px;
}
body.desktop {
    max-width: var(--page-max-width);
    padding: 0 10% 10%;
}

main {
    line-height: var(--common-height);
}

/* common styles */
.hide {
    display: none;
}
.strong {
    font-weight: 600;
}
.red {
    color: red;
}
.green {
    color: green;
}
.orange {
    color: orange;
}
.blue {
    color: dodgerblue;
}

/* header elements styles */
header {
    margin-bottom: 16px;
    background-color: white;
    border-bottom: 1px dotted var(--border-color);
    z-index: 99;
}
.desktop header {
    position: sticky;
    top: 0;
}
.title {
    font-size: 36px;
}
.subtitle {
    margin-left: var(--indent-space);
}
.h1 {
    padding: 24px 0;
}
.h3 {
    padding: 20px 0;
}
/* .smile {
    font-family: var(--font-family-en);
} */
.score-headline {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    color: darkred;
}
.score-headline span span {
    margin-right: 4px;
}
.blink {
    animation: blinker 1.3s 4;
}
@keyframes blinker {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.riddle-list {
    padding-inline-start: 2em;
}
/* riddle question element styles */
.riddle {
    margin-bottom: 24px;
}
.riddle div {
    margin-bottom: 8px;
}
/* .riddle > div {
    margin-left: var(--indent-space);
} */
div.question-wrapper {
    margin-left: 0;
}
.riddle > div.main-hint, .riddle div.more-hint-text {
    font-size: medium;
    margin-bottom: 0;
}
/* .riddle div.more-hint-text:last-of-type {
    margin-bottom: 8px;
} */
.more-hint-text::before {
    content: "提示"attr(data-hint-number)"：";
}
.img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    vertical-align: top;
    max-width: 330px;
    box-sizing:border-box;
}

.block {
    display: block;
}

/* .control .img {
    max-width: 289px;
}
.control .img.block {
    display: block;
    max-width: 330px;
} */

input {
    font-size: large;
    border-radius: 4px;
    outline: none;
}
input:disabled {
    color: var(--disabled-color);
    background-color: var(--disabled-bk-color);
    opacity: 1; /* remove Safari fade */
    pointer-events: none;
    cursor: none;
}
.text-input {
    height: var(--input-height);
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 16px;
    border: 1px solid var(--border-color);
    width: 100%;
    max-width: 330px;
}
.text-input:focus {
    border-color: var(--btn-bk-color);
}
.text-input::placeholder {
    color: red;
    opacity: 1; /* Firefox */
}
.error {
    color: red;
    line-height: 40px;
    margin-left: 4px;
}
.btn {
    height: var(--input-height);
    vertical-align: top;
    color: #fff;
    background-color: var(--btn-bk-color);
    border: 1px solid transparent;
    cursor: pointer;
    padding: 0 16px;
}
.desktop .btn:hover,
.btn:focus {
    background-color: var(--btn-hover-bk-color);
}
.btn:disabled {
    border-color: var(--border-color);
}
.btn-submit {
    margin-left: 4px;
}
.btn-pass {
    background-color: var(--btn-aux-bk-color);
}
.btn-aux {
    height: var(--common-height);
    background-color: var(--btn-aux-bk-color);
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0 10px;
}

.correct-answer-wrapper {
    text-transform: capitalize;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.passed.question-wrapper:after {
    color: var(--text-passed-color);
    content: ' 已跳過';
    vertical-align: top;
}
.yes.question-wrapper { /* other elements may have yes/no and not change color */
    color: green;
}
.yes::after {
    content: "\2713"; /* check mark */
}
.no.question-wrapper {
    color: red;
}
.no::after {
    content: "\2717"; /* ballot X */
}

footer {
    padding-top: 20px;
    border-top: 1px dotted var(--border-color);
    /* font-family: var(--font-family-en); */
    font-size: medium;
    letter-spacing: 2px;
}

/* mobile tweaks */
/* .small .text-input {
    padding: 0 16px;
    max-width: 250px;
} */
