:root {
    /* --page-max-width: 960px; defined in html */
    --common-height: 28px;
    --input-height: 40px;
    --border-color: #ccc;
    --indent-space: 1.2rem;
    --btn-bk-color: #04AA6D;
    --btn-hover-bk-color: #06c881;
    --btn-aux-bk-color: cadetblue;
    --disabled-color: rgb(84, 84, 84);
    --disabled-bk-color: rgba(239, 239, 239, 0.3);
    /* --font-family-en: monospace; */
    --text-passed-color: #1a73e8;
    --span-spacer: 2px;
    --font-weight-bold: 600;
}

/* responsive body padding set in the beginning of html to avoid display shifting */
body {
    margin: 0 auto;
    font-family: sans-serif;
    font-size: large;
    letter-spacing: 1px;
}

main {
    line-height: var(--common-height);
}

/* common styles */
.hide {
    display: none;
}
.strong {
    font-weight: var(--font-weight-bold);
}
.red {
    color: red;
}
.green {
    color: green;
}
.orange {
    color: orange;
}
.blue {
    color: dodgerblue;
}
.wrap {
    display: block;
}

/* header elements styles */
header {
    margin-bottom: 16px;
    background-color: white;
    border-bottom: 1px dotted var(--border-color);
    z-index: 99;
}
.desktop header {
    position: sticky;
    top: 0;
}
.title {
    font-size: 36px; /* xx-large = 32px */
}
.subtitle {
    margin-left: var(--indent-space);
}
.h1 {
    padding: 24px 0;
    letter-spacing: 0;
}
.h3 {
    padding: 20px 0;
}
/* .smile {
    font-family: var(--font-family-en);
} */
.score-headline {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    color: darkred;
    word-break: keep-all;
}
.score-headline span span {
    margin-right: 4px;
}
.blink {
    animation: blinker 1.3s 4;
}
@keyframes blinker {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* riddle question styles */
/* space for 2 digit riddle number set in order list */
.riddle-list {
    padding-inline-start: 2em;
}
.riddle {
    margin-bottom: 24px;
}
li.riddle::marker {
    font-weight: var(--font-weight-bold); /* question number and text are bold */
}
.riddle div {
    margin-bottom: 8px;
}
.riddle > div.main-hint,
.riddle div.more-hint-text {
    font-size: medium;
    margin-bottom: 0;
}
.more-hint-text::before {
    content: "提示" attr(data-hint-number)"：";
}
.img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    vertical-align: top;
    max-width: 330px;
    box-sizing: border-box;
}

/* riddle input styles */
input {
    font-size: large;
    border-radius: 4px;
    outline: none;
}
input:disabled {
    color: var(--disabled-color);
    background-color: var(--disabled-bk-color);
    opacity: 1; /* remove Safari fade */
    pointer-events: none;
    cursor: none;
}
.text-input {
    height: var(--input-height);
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 16px;
    border: 1px solid var(--border-color);
    width: 100%;
    max-width: 330px;
}
.text-input:focus {
    border-color: var(--btn-bk-color);
}
.text-input::placeholder {
    color: red;
    opacity: 1; /* Firefox */
}

/* checkbox/radio group choice auto counter*/
.choice-group {
    counter-reset: choice-counter;
}
.choice-group .text-label {
    counter-increment: choice-counter;
    position: relative;
    padding-left: 1.2em;
    overflow-wrap: anywhere;
}
.choice-group .text-label::before {
    content: counter(choice-counter) ". ";
    position: absolute;
    left: 0;
}

/* checkbox/radio label wrapping indetation to align with label text, not the checkbox/radio controls */
.choice-wrapper {
    display: flex;
    align-items: flex-start;
}
.choice-wrapper input {
    margin-right: 10px;
    flex-shrink: 0;
    height: 22px;
}
.choice-wrapper label {
    flex-grow: 1;
    white-space: normal;
}

/* remove margin between choice text label and image label */
label.image-wrapper {
    margin-top: -8px;
}

/* riddle button styles */
.btn {
    height: var(--input-height);
    vertical-align: top;
    color: #fff;
    background-color: var(--btn-bk-color);
    border: 1px solid transparent;
    cursor: pointer;
    padding: 0 16px;
}
.desktop .btn:hover,
.btn:focus {
    background-color: var(--btn-hover-bk-color);
}
.btn:disabled {
    border-color: var(--border-color);
}
.btn-submit {
    margin-left: var(--span-spacer);
}
.btn-pass {
    background-color: var(--btn-aux-bk-color);
}
.btn-aux {
    height: var(--common-height);
    background-color: var(--btn-aux-bk-color);
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0 10px;
}

/* answer status yes/no/bypassed display at the end of questions and button line */
/* empty input error text is only display at the end of button line */
.status {
    display: inline-block;
    height: 20px;
    margin-left: var(--span-spacer);
    letter-spacing: 0;
    font-size: medium;
    line-height: 44px;
}
.small .status {
    line-height: 42px;
}
.error .status::after {
    color: red;
    content: '請選擇答案再提交';
}
.passed::marker,
.passed .question-wrapper,
.passed .status {
    color: var(--text-passed-color);
}
.passed .question-wrapper::after {
    content: '-- 已跳過';
    color: var(--text-passed-color);
}
.passed .status::after {
    content: '已跳過';
    color: var(--text-passed-color);
}
.yes::marker,
.yes .question-wrapper,
.yes .status {
    color: green;
}
.yes .question-wrapper::after,
.yes .status::after {
    content: "\2713"; /* check mark */
    color: green;
    font-weight: var(--font-weight-bold);
}
.no::marker,
.no .question-wrapper,
.no .status {
    color: red;
}
.no .question-wrapper::after,
.no .status::after {
    content: "\2717"; /* ballot X */
    color: red;
    font-weight: var(--font-weight-bold);
}

/* riddle answer styles */
.correct-answer-wrapper {
    text-transform: capitalize;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* footer styles */
footer {
    padding-top: 20px;
    border-top: 1px dotted var(--border-color);
    /* font-family: var(--font-family-en); */
    font-size: medium;
    letter-spacing: 2px;
}
.date {
    float: right;
}

/* mobile tweaks */
.small .score-rules {
    font-size: medium;
}
/* .small .text-input {
    padding: 0 16px;
    max-width: 250px;
} */
