:root {
    --page-max-width: 960px;
    --page-padding: 20px 10%;
    --border-color: #ccc;
    --header-height: 220px;
    --indent-space: 1.2rem;
    --input-focus-color: #04AA6D;
    --btn-hover-bk-color: #06c881;
    --disabled-color: rgb(84, 84, 84);
    --disabled-bk-color: rgba(239, 239, 239, 0.3);
    --font-family-en: monospace;
    --btn-pass-bk-color: #1a73e8;
}

body {
    margin: 0 auto;
    font-family: sans-serif;
    font-size: large;
    padding: 20px;
}
body.desktop {
    max-width: var(--page-max-width);
    padding: var(--page-padding);
}

main {
    margin-top: var(--header-height); /* saving space for the fixed header  */
    line-height: 32px;
}

/* common styles */
.strong {
    font-weight: bold;
}
.smaller {
    font-size: medium;
}
.indent {
    padding-left: var(--indent-space);
}
.right {
    float: right;
}

/* header elements styles */
header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    border-bottom: 1px dotted var(--border-color);
    z-index: 99;
}
.smile {
    font-family: var(--font-family-en);
}
.score-headline {
    color: red;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.score-headline span span {
    margin-right: 4px;
}

/* riddle question element styles */
.hint {
    display: none;
}
.hint:before {
    content: "-- ";
}

/* riddle input styles */
.choice {
    text-indent: -1.6rem;
}
.text-wrapper {
    margin-bottom: 8px;
}
.text-input {
    line-height: 40px;
    padding: 0 8px;
    font-weight: bold;
    border: 1px solid var(--border-color);
}
.text-input:focus {
    border-color: var(--input-focus-color);
}
.text-input:disabled {
    color: black;
}
.text-input::placeholder {
    color: red;
    opacity: 1; /* Firefox */
}
.btn {
    height: 40px;
    color: #fff;
    background-color: var(--input-focus-color);
    cursor: pointer;
    border: none;
}
.desktop .btn:hover,
.btn:focus {
    background-color: var(--btn-hover-bk-color);
}
.btn:disabled {
    color: var(--disabled-color);
    border: 1px solid var(--border-color);
}
.btn-show-answer,
.btn-pass {
    height: 28px;
    background-color: steelblue;
    font-weight: normal;
}
.btn-show-answer {
    margin-top: 8px;
}
.btn-pass {
    margin-left: 20px;
}

input {
    font-size: medium;
    font-weight: bold;
    border-radius: 4px;
    outline: none;
}
input:disabled {
    background-color: var(--disabled-bk-color);
    pointer-events: none;
    cursor: none;
}

.correct-answer-wrapper {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* .your-answer-wrapper {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.your-answer-wrapper span span {
    margin-right: 4px;
} */

.yes.question-wrapper { /* other elements may have yes/no and not change color */
    color: green;
}
.yes::after {
    content: "\2713"; /* check mark */
    color: green;
}
.no.question-wrapper {
    color: red;
}
.no::after {
    content: "\2717"; /* ballot X */
    color: red;
}
.passed.question-wrapper {
    color: var(--btn-pass-bk-color);
}
 /* brokenheart "\1F494"; */
/* .passed::after {
    content: "\2BD1";
    color: var(--btn-pass-bk-color);
    font-weight: bold;
} */

footer {
    padding-top: 20px;
    border-top: 1px dotted var(--border-color);
    font-family: var(--font-family-en);
}

/* mobile tweaks */
.mobile label {
    line-height: 48px;
}
.mobile .btn-submit {
    float: right;
}
