:root {
    --page-max-width: 960px;
    --common-height: 28px;
    --input-height: 40px;
    --border-color: #ccc;
    --indent-space: 1.2rem;
    --btn-bk-color: #04AA6D;
    --btn-hover-bk-color: #06c881;
    --btn-aux-bk-color: cadetblue;
    --disabled-color: rgb(84, 84, 84);
    --disabled-bk-color: rgba(239, 239, 239, 0.3);
    --font-family-en: monospace;
    --text-passed-color: #1a73e8;
}

body {
    margin: 0 auto;
    font-family: sans-serif;
    font-size: medium;
    padding: 0 20px 20px;
}
body.desktop {
    max-width: var(--page-max-width);
    padding: 0 10% 10%;
}

main {
    line-height: var(--common-height);
}

/* common styles */
.hide {
    display: none;
}
.strong {
    font-weight: bold;
}
.red {
    color: red;
}
.green {
    color: green;
}
.orange {
    color: orange;
}
.blue {
    color: dodgerblue;
}
.brown {
    color: brown;
}

/* header elements styles */
header {
    margin-bottom: 16px;
    background-color: white;
    border-bottom: 1px dotted var(--border-color);
    z-index: 99;
}
.desktop header {
    position: sticky;
    top: 0;
}
.title {
    font-size: 36px;
}
.subtitle {
    margin-left: var(--indent-space);
}
.h1 {
    padding: 24px 0;
}
.h3 {
    padding: 20px 0;
}
.smile {
    font-family: var(--font-family-en);
}
.score-headline {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.score-headline span span {
    margin-right: 4px;
}
.blink {
    animation: blinker 1s 3;
}
@keyframes blinker {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* riddle question element styles */
.riddle {
    margin-bottom: 16px;
}
.riddle > div {
    margin-left: var(--indent-space);
    margin-bottom: 8px;

}
div.question-wrapper {
    font-size: large;
    margin-left: 0;
}
.more-hint-text::before {
    content: "提示"attr(data-hint-number)"：";
}
.img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    vertical-align: top;
    max-width: 330px;
}

/* riddle input styles */
/* .choice-wrapper {
     text-indent: -1.2rem; // calc(0 - var(--indent-space));
} */
input {
    font-size: medium;
    border-radius: 4px;
    outline: none;
}
input:disabled {
    color: var(--disabled-color);
    background-color: var(--disabled-bk-color);
    opacity: 1; /* remove Safari fade */
    pointer-events: none;
    cursor: none;
}
.text-input {
    height: var(--input-height);
    box-sizing: border-box;
    vertical-align: top;
    padding: 0 8px;
    border: 1px solid var(--border-color);
    width: calc(100% - 66px);
    max-width: 277px;
}
.text-input:focus {
    border-color: var(--btn-bk-color);
}
.text-input::placeholder {
    color: red;
    opacity: 1; /* Firefox */
}
.btn {
    height: var(--input-height);
    vertical-align: top;
    color: #fff;
    background-color: var(--btn-bk-color);
    border: 1px solid var(--btn-bk-color);
    cursor: pointer;
}
.desktop .btn:hover,
.btn:focus {
    background-color: var(--btn-hover-bk-color);
    border-color: var(--btn-hover-bk-color);
}
.btn:disabled {
    border-color: var(--border-color);
    font-weight: normal;
}
.btn-submit {
    font-weight: bold;
    margin-left: 4px;
}
.btn-aux {
    height: var(--common-height);
    background-color: var(--btn-aux-bk-color);
    border-color: var(--btn-aux-bk-color);
}

.correct-answer-wrapper {
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.passed.question-wrapper:after {
    color: var(--text-passed-color);
    content: ' 已跳過';
    font-size: medium;
    vertical-align: top;
}
.yes.question-wrapper { /* other elements may have yes/no and not change color */
    color: green;
}
.yes::after {
    content: "\2713"; /* check mark */
}
.no.question-wrapper {
    color: red;
}
.no::after {
    content: "\2717"; /* ballot X */
}

footer {
    padding-top: 20px;
    border-top: 1px dotted var(--border-color);
    font-family: var(--font-family-en);
}

/* mobile tweaks */
.mobile label {
    line-height: var(--input-height);
}
.small .text-input {
    padding: 0 16px;
    max-width: 250px;
}
